.css-13cymwt-control {
	border-color: #e5e7eb !important;
	min-height: 42px !important;
	border-radius: 6px !important;
	padding-left: 1px;
}
.css-1p3m7a8-multiValue {
	border-radius: 15px !important;
	padding: 1px 4px;
}
.css-qbdosj-Input::after {
	display: none !important;
}
.css-1jqq78o-placeholder {
	font-size: 14px;
	color: #6b7280 !important;
}
.css-qbdosj-Input {
	padding: 5px !important;
}
.css-qbdosj-Input:focus {
	/* box-shadow: 1px 0 0 0 calc(1px + 0) var(#4f46e5) !important; */
  border: none !important;
  
	box-shadow: #4f46e5 !important;
}
